body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, h1 {
  color: #00cdcd;
}

span.glyphicon{
	margin-right: 5px;
}

.strike-through{
	text-decoration: line-through;
}

.fixed{
	position: fixed;
	bottom: 3%;
	right: 2%;

}