<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">LetsDo.It</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-navbar"></span>
				<span class="icon-navbar"></span>
				<span class="icon-navbar"></span>
			</button>
		</div>
		<div id="navbar-main" class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right">
				<li><a href="/about">About</a></li>
				<li><a href="/signup">Signup</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
	</div>
</nav>